@import '../../../variables';
@import '../../../mixins';

.Button {
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: $color-white;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-black,.1);
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $color-primary;
  }
}

.Add {
  background-color: $color-primary;
  height: 3.125rem;
  width: 20%;
  border-bottom: 3px solid transparent;

  &:hover {
    background-color: darken($color-primary, 5%);
  }

  &:disabled {
    opacity: .5;
    background-color: darken($color-primary, 5%);
    cursor: not-allowed;
  }
}

.Delete {
  background-color: transparent;
  color: transparent;

  @include respond(phone) {
    background-color: $color-peach;
    color: $color-white;
  }
}
