@import '../../../variables';

.Input {
  height: 3.125rem;
  width: 80%;
  padding: 0.625rem;
  font-size: 1rem;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid transparent;

  &:focus {
    outline: none;
    border-bottom: 3px solid $color-primary;
  }

  &::placeholder {
    color: $color-blue-grey;
    font-weight: $font-weight-normal;
  }
}

.Invalid {
  border-bottom: 3px solid $color-peach;

  &:focus {
    border-bottom: 3px solid $color-peach;
  }
}

.ValidationError {
  color: $color-peach;
  height: 0;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  position: relative;
  top: 3.125rem;
}
