//COLORS
$color-primary: #0B278D; //Salt Blue
$color-primary-light: #1036C1; //Medium Blue
$color-primary-accent: #1A47ED; //Accent Blue
$color-light-blue: #5478FF; //Light Blue
$color-peach: #FF7676; //Peach
$color-black: #000000;
$color-blue-grey: #81A2BA;
$color-light-grey: #EEEEEE;
$color-white: #FFFFFF;

//SHADOWS
$box-shadow-small: 0 0 10px 0 rgba($color-black, .5);

//FONTS
$font-family: 'Gilroy', sans-serif;
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;

//SIZES
$content-width: 48rem;
